*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8eddd;
  font-size: 20px;
  font-family: 'Joan', sans-serif;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  background-color: white;
}

.header{
  margin: 0 auto;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: n;
  justify-content: space-around;
  background-color: #f2ffd1;
}

@media (max-width: 950px){
  .header{
    flex-direction: column;
  }
}

.name{
  font-size: 1.8em;
  padding: inherit;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.avatar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myAvatar{
  border: 1px solid black;
  border-radius: 50%;
  background-size: cover;
  width:250px;
  width: 270px;
  height: 250px;
}

.tooltip{
  margin-top: 1em;
  font-size: 1.5em;
  position: relative;
  visibility: hidden;
}

#myAvatar:hover ~ .tooltip{
  visibility: visible;
}

.contacts{
  display: flex;
  flex-direction: column;
}

.contacts li{
  font-size: 1.5em;
  padding: 20px;
  list-style: none;
}

.telegram::before{
  content: url(assets/telegram.svg);
  vertical-align: baseline;
}

.discord::before{
  content: url(assets/discord.svg);
  vertical-align: baseline;
}

.email::before{
  content: url(assets/email.svg);
  vertical-align: baseline;
}

.contacts-header{
  text-align: center;
  padding: 12px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.main-container{
  margin: 0 auto;
  font-size: 1.2em;
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 50px;;
}

@media (max-width: 950px){
  .main-container{
    grid-template-columns: 1fr;
  }
}

.main-container h2, .code-container h2{
  padding: 5px 0;
  margin: 30px 0;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black
}

.main-container li{
  margin-left: 23px;
}

.code-container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
}

.code-example{
  padding: 20px;
  font-size: 0.8em;
  background-color: lightblue;
}

.code-details{
  margin-bottom: 10px;
}

summary{
  text-align: center;
}

summary:hover{
  cursor: pointer;
  background-color: #444444;
  color: white;
}

@media (max-width:740px){
  .code-example{
    font-size: 0.6em;
  }
}

@media (max-width:601px){
  .code-example{
    font-size: 0.45em;
  }
}

footer{
  display:flex;
  align-items: center;
  justify-content: end;
  color: white;
  height: 50px;
  background-color: #444444;
}